<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peanut Butter Cookies</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/headfoot :: header"></div>
<h2>Credits:</h2><hr class="">
<p id="credits">
    <a href="https://www.peterpanpb.com/recipes/peanut-butter-cookies/">Recipe</a>
    <a href="https://www.wunderland.com/LooneyLabs/JustDesserts/DessertList.html">Logo</a>
    <a href="https://www.delish.com/uk/cooking/recipes/a28829515/easy-peanut-butter-cookie-recipe/">Home Image</a>
    <a href="https://www.today.com/home/how-clean-your-old-cookie-sheet-without-scrubbing-t126533">Step-1 Image</a>
    <a href="https://www.cleverlysimple.com/soft-peanut-butter-cookie-recipe/">Step-2 Image</a>
    <a href="https://www.theannoyedthyroid.com/2018/11/01/kats-peanut-butter-cookies/">Step-3 Image</a>
</p>

<div th:replace="fragments/headfoot :: footer"></div>
</body>
</html>